.bleu{
    background-color: yellowgreen;
    border: solid;
    width: 50%;
    height:500px;
    position: relative;

}
.vert{
    background-color: green;
    width: 50%;
    height: 300px;
    position: absolute;
    transform: translate();
}
.violet{
    background-color: purple;
    width: 50%;
    height: 150px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
}
